# Target: ESP32-P4
CONFIG_IDF_TARGET="esp32p4"

# PSRAM
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_80M=y

# Performance
CONFIG_COMPILER_OPTIMIZATION_PERF=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# WiFi via esp_wifi_remote + esp-hosted
CONFIG_ESP_HOST_WIFI_ENABLED=y
CONFIG_ESP_WIFI_CONTROLLER_TARGET="esp32c6"
CONFIG_ESP_WIFI_REMOTE_ENABLED=y
CONFIG_ESP_WIFI_REMOTE_LIBRARY_HOSTED=y
CONFIG_ESP_HOSTED_ENABLED=y
CONFIG_ESP_HOSTED_SPI_HOST_INTERFACE=n
CONFIG_ESP_HOSTED_SDIO_HOST_INTERFACE=y
CONFIG_ESP_SDIO_HOST_INTERFACE=y

# Disable watchdogs for OTA
CONFIG_ESP_INT_WDT=n
CONFIG_ESP_TASK_WDT_EN=n

# Custom partition table (3MB app to fit embedded slave FW)
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# Log
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
